In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/shark-tank-india-companies/dataset.csv

In [2]:
df=pd.read_csv('/kaggle/input/shark-tank-india-companies/dataset.csv')

In [3]:
df.head()

,episode,pitch_no,company,idea,deal,ashneer,namita,anupam,vineeta,aman,peyush,ghazal
0,1,1,BluePine Industries,Frozen Momos,75 lakhs for 18% equity,Y,N,N,Y,Y,NaN,NaN
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40 lakhs for 50% equity,Y,N,N,Y,N,NaN,NaN
2,1,3,Heart up my Sleeves,Detachable Sleeves,25 lakhs for 30% equity,N,N,Y,Y,N,NaN,NaN
3,2,4,Tagz Foods,Healthy Potato Chips,No Deal,Y,N,N,N,N,NaN,NaN
4,2,5,Head and Heart,Brain Development Course,No Deal,N,N,N,N,N,NaN,NaN

In [4]:
df.set_index('pitch_no',inplace = True)

In [5]:
df.head()

,episode,company,idea,deal,ashneer,namita,anupam,vineeta,aman,peyush,ghazal
pitch_no,,,,,,,,,,,
1,1,BluePine Industries,Frozen Momos,75 lakhs for 18% equity,Y,N,N,Y,Y,NaN,NaN
2,1,Booz scooters,Renting e-bike for mobility in private spaces,40 lakhs for 50% equity,Y,N,N,Y,N,NaN,NaN
3,1,Heart up my Sleeves,Detachable Sleeves,25 lakhs for 30% equity,N,N,Y,Y,N,NaN,NaN
4,2,Tagz Foods,Healthy Potato Chips,No Deal,Y,N,N,N,N,NaN,NaN
5,2,Head and Heart,Brain Development Course,No Deal,N,N,N,N,N,NaN,NaN

handling midding values

1. Imputation/replacements.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 1 to 117
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   episode  117 non-null    int64
 1   company  117 non-null    object
 2   idea     117 non-null    object
 3   deal     117 non-null    object
 4   ashneer  98 non-null     object
 5   namita   106 non-null    object
 6   anupam   117 non-null    object
 7   vineeta  66 non-null     object
 8   aman     98 non-null     object
 9   peyush   88 non-null     object
 10  ghazal   26 non-null     object
dtypes: int64(1), object(10)
memory usage: 11.0+ KB

In [7]:
df.isnull().sum()

episode     0
company     0
idea        0
deal        0
ashneer    19
namita     11
anupam      0
vineeta    51
aman       19
peyush     29
ghazal     91
dtype: int64

In [8]:
df['ashneer'].fillna('N',inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 1 to 117
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   episode  117 non-null    int64
 1   company  117 non-null    object
 2   idea     117 non-null    object
 3   deal     117 non-null    object
 4   ashneer  117 non-null    object
 5   namita   106 non-null    object
 6   anupam   117 non-null    object
 7   vineeta  66 non-null     object
 8   aman     98 non-null     object
 9   peyush   88 non-null     object
 10  ghazal   26 non-null     object
dtypes: int64(1), object(10)
memory usage: 11.0+ KB

In [10]:
df['ashneer']

pitch_no
1      Y
2      Y
3      N
4      Y
5      N
      ..
113    N
114    N
115    Y
116    N
117    N
Name: ashneer, Length: 117, dtype: object

In [11]:
df['namita'].fillna(df['namita'].mode()[0],inplace=True)

In [12]:
df.isnull().sum()

episode     0
company     0
idea        0
deal        0
ashneer     0
namita      0
anupam      0
vineeta    51
aman       19
peyush     29
ghazal     91
dtype: int64

forwardfill or backwardfill
    this is done generally for time series data

In [13]:
df['vineeta'].fillna(method='ffill',inplace=True)

In [14]:
df.isnull().sum()

episode     0
company     0
idea        0
deal        0
ashneer     0
namita      0
anupam      0
vineeta     0
aman       19
peyush     29
ghazal     91
dtype: int64

In [15]:
df['peyush'].fillna(method = 'bfill',inplace=True)

In [16]:
df.isnull().sum()

episode     0
company     0
idea        0
deal        0
ashneer     0
namita      0
anupam      0
vineeta     0
aman       19
peyush      0
ghazal     91
dtype: int64

3.droping data
*      -you can drop entire column 
*      -you do this only when more and more null values are there.

In [17]:
df.drop(columns=['ghazal'],inplace=True)

In [18]:
df.isnull().sum()

episode     0
company     0
idea        0
deal        0
ashneer     0
namita      0
anupam      0
vineeta     0
aman       19
peyush      0
dtype: int64

In [19]:
df.dropna(axis=0,subset=['aman'],inplace=True)

In [20]:
df.isnull().sum()

episode    0
company    0
idea       0
deal       0
ashneer    0
namita     0
anupam     0
vineeta    0
aman       0
peyush     0
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 1 to 117
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   episode  98 non-null     int64
 1   company  98 non-null     object
 2   idea     98 non-null     object
 3   deal     98 non-null     object
 4   ashneer  98 non-null     object
 5   namita   98 non-null     object
 6   anupam   98 non-null     object
 7   vineeta  98 non-null     object
 8   aman     98 non-null     object
 9   peyush   98 non-null     object
dtypes: int64(1), object(9)
memory usage: 8.4+ KB

extracting numerical data from strings

In [22]:
df.head()

,episode,company,idea,deal,ashneer,namita,anupam,vineeta,aman,peyush
pitch_no,,,,,,,,,,
1,1,BluePine Industries,Frozen Momos,75 lakhs for 18% equity,Y,N,N,Y,Y,N
2,1,Booz scooters,Renting e-bike for mobility in private spaces,40 lakhs for 50% equity,Y,N,N,Y,N,N
3,1,Heart up my Sleeves,Detachable Sleeves,25 lakhs for 30% equity,N,N,Y,Y,N,N
4,2,Tagz Foods,Healthy Potato Chips,No Deal,Y,N,N,N,N,N
5,2,Head and Heart,Brain Development Course,No Deal,N,N,N,N,N,N

In [23]:
df['deal'].unique()

array(['75 lakhs for 18% equity', '40 lakhs for 50% equity',
       '25 lakhs for 30% equity', 'No Deal', '75 lakhs for 6% equity',
       '20 lakhs for 15% equity and 30 lakhs debt',
       '75 lakhs for 7.5% equity', '50 lakhs for 20% equity',
       '56 lakhs for 33.33% equity', '30 lakhs for 6% equity',
       '50 lakhs for 10% equity', '30 lakhs for 20% equity',
       '30 lakhs for 3% equity', '50 lakhs for 15% equity',
       '40 lakhs for 24% equity', '1 crore for 10% equity',
       '25 lakhs for 25% equity and â‚¹25 lakhs debt', '5 for 5% equity',
       '75 lakhs for 15% Equity', '45 lakhs for 12% Equity',
       '1.5 Crore for 15% Equity', '80 Lakhs for 20% Equity',
       '1 lakh for 1% equity and 99 lakhs Debt',
       '60 lakhs for 10% equity', '1 Crore for 10% equity',
       '25 Lakhs for 75% equity & 22 lakhs Debt',
       '35 lakhs for 24% equity', '80 lakhs for 6% Equity',
       '75 lakhs for 2.68% Equity', '50 lakhs for 2% Equity',
       '60 lakhs for 10% Equity', '1 crore for 10% Equity',
       '40 lakhs for 20% Equity', '40 lakhs for 30% Equity'], dtype=object)

In [24]:
def equity_in_lakhs(s):
    s=s.lower()
    if(s=='no deal'):
        amount=0
    else:
        if(s.split('for')[0].split(' ')[1].startswith('lakh')):
            amount=float(s.split('for')[0].split(' ')[0])
        elif(s.split('for')[0].split(' ')[1].startswith('crore')):
            amount=float(s.split('for')[0].split(' ')[0])*100
        else:
            amount=-1
    return amount

In [25]:
df['equity_amt']=df['deal'].apply(equity_in_lakhs)

In [26]:
df.head()

,episode,company,idea,deal,ashneer,namita,anupam,vineeta,aman,peyush,equity_amt
pitch_no,,,,,,,,,,,
1,1,BluePine Industries,Frozen Momos,75 lakhs for 18% equity,Y,N,N,Y,Y,N,75.0
2,1,Booz scooters,Renting e-bike for mobility in private spaces,40 lakhs for 50% equity,Y,N,N,Y,N,N,40.0
3,1,Heart up my Sleeves,Detachable Sleeves,25 lakhs for 30% equity,N,N,Y,Y,N,N,25.0
4,2,Tagz Foods,Healthy Potato Chips,No Deal,Y,N,N,N,N,N,0.0
5,2,Head and Heart,Brain Development Course,No Deal,N,N,N,N,N,N,0.0

In [27]:
df=df.loc[df['equity_amt']!=-1]

In [28]:
df.shape

(97, 11)

cleaning dates

In [29]:
dates=['1/1/2023','1st january 2023','1-1-2023','january 1st 2023']
dates=pd.Series(dates)

In [30]:
dates

0            1/1/2023
1    1st january 2023
2            1-1-2023
3    january 1st 2023
dtype: object

In [31]:
pd.to_datetime(dates)

0   2023-01-01
1   2023-01-01
2   2023-01-01
3   2023-01-01
dtype: datetime64[ns]

In [32]:
df.head()

,episode,company,idea,deal,ashneer,namita,anupam,vineeta,aman,peyush,equity_amt
pitch_no,,,,,,,,,,,
1,1,BluePine Industries,Frozen Momos,75 lakhs for 18% equity,Y,N,N,Y,Y,N,75.0
2,1,Booz scooters,Renting e-bike for mobility in private spaces,40 lakhs for 50% equity,Y,N,N,Y,N,N,40.0
3,1,Heart up my Sleeves,Detachable Sleeves,25 lakhs for 30% equity,N,N,Y,Y,N,N,25.0
4,2,Tagz Foods,Healthy Potato Chips,No Deal,Y,N,N,N,N,N,0.0
5,2,Head and Heart,Brain Development Course,No Deal,N,N,N,N,N,N,0.0

In [33]:
def valuation(s):
    s=s.lower();
    if(s=='no deal'):
        amount=0
        percent=0
        value=0
    else:
        percent=float(s.split('for')[1].split('%')[0])
        if(s.split('for')[0].split(' ')[1].startswith('lakh')):
            amount=float(s.split('for')[0].split(' ')[0])
        elif(s.split('for')[0].split(' ')[1].startswith('crore')):
            amount=float(s.split('for')[0].split(' ')[0])*100
        value=(amount*100)/percent
        
    return round(value,1)

In [34]:
valuation('40 lakhs for 50% equity')

80.0

In [35]:
df['valuation_in_crores']=df['deal'].apply(valuation)

In [36]:
df['valuation_in_crores'].head(25)

pitch_no
1      416.7
2       80.0
3       83.3
4        0.0
5        0.0
6        0.0
7        0.0
8     1250.0
9      133.3
10       0.0
11       0.0
12    1000.0
13       0.0
14       0.0
15       0.0
16       0.0
17     250.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23     168.0
24     500.0
25       0.0
Name: valuation_in_crores, dtype: float64

In [37]:
df.head()

,episode,company,idea,deal,ashneer,namita,anupam,vineeta,aman,peyush,equity_amt,valuation_in_crores
pitch_no,,,,,,,,,,,,
1,1,BluePine Industries,Frozen Momos,75 lakhs for 18% equity,Y,N,N,Y,Y,N,75.0,416.7
2,1,Booz scooters,Renting e-bike for mobility in private spaces,40 lakhs for 50% equity,Y,N,N,Y,N,N,40.0,80.0
3,1,Heart up my Sleeves,Detachable Sleeves,25 lakhs for 30% equity,N,N,Y,Y,N,N,25.0,83.3
4,2,Tagz Foods,Healthy Potato Chips,No Deal,Y,N,N,N,N,N,0.0,0.0
5,2,Head and Heart,Brain Development Course,No Deal,N,N,N,N,N,N,0.0,0.0

In [38]:
df.describe()

         episode  equity_amt  valuation_in_crores
count  97.000000   97.000000            97.000000
mean   17.247423   19.247423           208.768041
std    10.373274   31.598402           474.415680
min     1.000000    0.000000             0.000000
25%     9.000000    0.000000             0.000000
50%    17.000000    0.000000             0.000000
75%    23.000000   35.000000           150.000000
max    35.000000  150.000000          2798.500000